
.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(41, 0, 66);
    color: white;
    position: relative;
    margin-top: 100dvh;
    bottom: 0px;
    padding: 1rem;
    gap: 20px;
}
.about a{
    text-decoration: none;
    color: rgb(204, 141, 243);
    font-weight: bold;
}
.tech{
    color: rgb(156, 156, 242);
}