*{
    margin: 0;
    padding:0;
}
.todo-container{
    margin-top: 20px;
    text-align: center;
}
.heading{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  
}
.header{
  background-color: blueviolet;
  color: #ddd;
  margin: 0px 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 4px 4px 1px 1px;
  font-weight: 700;
  font-size: larger;
  width: 200px;
}
.todo-form {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.input-todo {
  padding: 10px 14px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  width: 60%;
  transition: border-color 0.3s ease;
  outline: none;
}

.input-todo:focus {
  border-color: rgb(166, 33, 249);
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
}

.form-btn {
  padding: 10px 20px;
  background-color: rgb(166, 33, 249);
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-btn:hover {
  background-color: rgb(166, 33, 249);
  box-shadow: 4px 4px 1px 2px;
  color: rgb(241, 222, 255);

}

.tasks{
    margin: 0px;
    height: fit-content;
}


.item{
    margin: 25px 20px;
    padding: 5px 10px;
    display: flex;
    justify-content:space-between;
    list-style: none;
    /* border: 1px solid rgb(54, 1, 1); */
    background-color: rgb(166, 33, 249);
    color: rgb(255, 255, 255);
    border-radius: 5px;
}
.action-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.edit-btn, .done-btn, .doneall-btn, .close-btn{
    margin: 10px;
    /* background-color: blueviolet; */
    color: aliceblue;
    outline: none;
    border: none;
    cursor: pointer;
}
